<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink='/'>Blockever</a>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" *ngIf="!isLoggedIn()">
      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink='/login'>Login</a>
      </li>
      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink='/signup'>Signup</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn()">
      
      <li class="nav-item">
        {{ getuser()}}
        <a class="nav-link">{{ (user.bank | uppercase) + ' '  + user.branch  }}</a>
      </li>
      
      <li class="nav-item" (click)="logout()">
        <a class="nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
      </li>
      
    </ul>
  </div>
</nav>


<div class="desktop">
  <router-outlet></router-outlet>    
</div>




<!-- Routed views go here -->